<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/header::html" ></head>
<body>
<!--与 register.html 相仿，search.html 也包含了header.html, top.html, search.html， footer.html 等公共页面。-->
<!--中间是搜索结果业务页面 searchPage.html-->
<div id="workingArea">
    <div th:replace="include/fore/top::html" ></div>
    <div th:replace="include/fore/simpleSearch::html" ></div>
    <div th:replace="include/fore/searchPage::html" ></div>
    <div th:replace="include/fore/footer::html" ></div>
</div>
</body>
</html>